h1{
font-family:Goudy Stout;
font-size: 40px;
text-align:center;}
*{
box-sizing: border-box;
}
.column{
float: right;
width:33.33%;
padding:5px;

}
.right{
float: leftt;
width:33.33%;
padding:5px;}
.row: {
content:"";
clear:both;
display:table;
}
.button{
float:right;
font-size: 20px;
font-family:Goudy Stout;
background-color:white;}
.button1{
font-size: 30px;
font-family:Goudy Stout;
background-color:white;}
.button2{
font-size: 30px;
font-family:Goudy Stout;
background-color:white;}
.button3{
font-size: 30px;
font-family:Goudy Stout;
background-color:white;}
.button4{
font-size: 30px;
font-family:Goudy Stout;
background-color:white;}
.button5{
font-size: 30px;
font-family:Goudy Stout;
background-color:white;}
body{
background-color:#E50914;}

